<%= form_with(model: brand) do |form| %>
  
  <div class="form-group">
  <label>Brand Name</label>
  <%= form.text_field :brand_name, class: "form-control" %>
  </div>

  <div class="form-group">
  <label>Brand Description</label>
  <%= form.text_field :brand_description, class: "form-control" %>
  </div>

  <% if brand.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>
      <ul>
        <% brand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <div>
    <%= form.submit 'Submit', :class => 'btn btn-success' %>
  </div>
<% end %>
