<p style="color: green"><%= notice %></p>

<%= render @brand %>
<h6> Brand Name </h6>
<%= @brand.brand_name %>
<h6> Brand Description </h6>
<%= @brand.brand_description %>
 
<div>
  <%= link_to "Edit this brand", edit_brand_path(@brand) %> |
  <%= link_to "Back to brands", brands_path %>

  <%= button_to "Destroy this brand", @brand, method: :delete %>
</div>
