<p style="color: green"><%= notice %></p>
<br>
<h1>Products</h1>
<table class="table">
<thead>
<tr>
    <th>Product ID</th>
    <th>Product Name</th>
    <th>Product Brand</th>
    <th>SKU CODE</th>
    <th>Brand Name</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
<thead>
<% @products.map do |p|  %>
    <tbody>
    <tr>
        <td><%= p.product_id %></td>
        <td><%= p.product_name %></td>
        <td><%= p.product_description %></td>
        <td> <%= p.sku_code  %></td>
        <td><%= p.brand.brand_name %></td>
        <td><%= link_to "Edit this product", edit_product_path(p), class: "btn btn-success" %></td>

        <td><%= button_to "Destroy this product", p, method: :delete, class: "btn btn-danger" %></td>

    </tr>
    </tbody>
<% end  %>
<table>
<%= link_to 'Add Products', new_product_path, class: "btn btn-success" %>

<%= link_to 'All Brands', brands_path, class: "btn btn-primary" %>
