<h1>Product Details</h1>
<p style="color: green"><%= notice %></p>

<%= render @product %>
<label> Product Name </label>
<p><%= @product.product_name %></p>
<label> Product Description </label>
<p><%= @product.product_description %></p>
<label> Product SKU Code </label>
<p><%= @product.sku_code %></p>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>
  <%= button_to "Destroy this product", @product, method: :delete, class:"btn btn-danger" %>
</div>
