<p style="color: green"><%= notice %></p>

<%= render @product %>
<h6> Product Name </h6>
<%= @product.product_name %>
<h6> Product Description </h6>
<%= @product.product_description %>
<h6> Product SKU Code </h6>
<%= @product.sku_code %>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
